

/*HOME*/

	/*NAV*/

body.home {
	font-family: 'Didact Gothic', sans-serif;
	background: url('../images/main background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

nav ul {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}

nav li {
	display: inline;
	text-align: center;
	padding: 40px;
	color: #d9794f;
	justify-content: center;
}

a {
	color: #d9794f; 
	font-weight: 900;
}

a.active {
	color: #87e8eb;
	text-decoration: none;
	font-weight: 900;
}

/*CONTENT*/

.container {
  display: grid;
  grid-template-columns: 325px 325px 325px;
  grid-template-rows: 250px 250px;
  grid-gap: .01rem;
  margin:10px;
}


.explainer.text {
	padding-left: 75px;
	margin-top: 65px;
	transform: rotate(349deg);
}


p {
 	font-size: 1em;
 	font-weight: bold;
 	line-height: 120%;
 	color: #0054ff;
 	padding-bottom: 25px;
 	letter-spacing: .075em;
}

h2 {
 	font-size: 1.75em;
 	font-weight: bold;
 	line-height: 130%;
 	color: #0054ff;
 	letter-spacing: .1em;
}

#marquee {
	margin-top: 50%;
}

h1 {
	font-size: 4.5em; 
	text-decoration-line: none;
	color: white;
	letter-spacing: .125em;
	font-weight: bolder;
	text-shadow:
		-1px -1px 0 #0054ff,
		1px -1px 0 #0054ff,
		-1px 1px 0 #0054ff,
		1px 1px 0 #0054ff;
	}

/*Seagull*/

.seagull img {
	max-width: 160px;
}

/*Seagull Animation*/

@import "compass/css3";

@keyframes float {
  from {
    transform:translateY(8px) rotate3d(0,0,1,3deg);
  }

  to {
     transform:translateY(-8px) rotate3d(0,0,1,0deg);
  }
}

.seagull {
  position:absolute;
  top:12%;
  left:40%;
}

.seagull {
  position:relative;
  animation-duration: 1s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}

/*ABOUT*/

body.about {
	font-family: 'Didact Gothic', sans-serif;
	background: #fff
}

.about.container {
  display: grid;
  grid-template-columns: 600px 600px ;
  grid-template-rows: 300px 300px;
  grid-gap: .01rem;
  margin:30px;
}

/*CALENDAR*/

body.calendar {
	font-family: 'Didact Gothic', sans-serif;
	background: #fff
}

/*PICS*/

body.pics {
	font-family: 'Didact Gothic', sans-serif;
	background: #fff
}

/*MERCH*/

body.merch {
	font-family: 'Didact Gothic', sans-serif;
	background: #fff
}




